<div id="main-container" class="container">
  <div class="row">
    <div class="col-md-3 col-centered">
        <div itemscope itemtype="http://schema.org/GovernmentOrganization">
          <p itemprop="name">U.S. Integrated Ocean Observing System Program</p>
          <p itemprop="address">1315 East-West Highway,<br>2nd Floor<br>Silver Spring, MD 20910
          <p itemprop="telephone"><a href="tel:301713-3290"> (301) 713-3290</a></p>
        </div>
        <a href="mailto:ioos.catalog@noaa.gov" itemprop="email">ioos.catalog@noaa.gov</a>
    </div>
  </div>
</div>