<header>
  <div class="container-fluid">
    <a href="/">
      <img src="images/IOOS_Emblem_Tertiary_B_RGB.png">
    </a>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img alt="Brand" alt="IOOS logo" src="images/logo-navbar.png">
        </a>
      </div> <!-- .navbar-header -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li class="brand">
            <a href="/">
              <img alt="Brand" alt="IOOS logo" src="images/logo-navbar.png">
            </a>
          </li>
          <li class="dropdown">
            <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">Data <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="drop1">
              <li>
                <a href="http://metrics.ioos.us/">Metrics</a>
              </li>
              <li>
                <a href="http://data.ioos.us/">Search</a>
              </li>
              <li>
                <a href="http://data.ioos.us/compliance" target="_blank">Compliance Checker</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">Viewers <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="drop2">
              <li>
                <a href="http://comt.ioos.us" target="_blank">COMT</a>
              </li>
              <li>
                <a href="http://axiomdatascience.com/maps/ioos" target="_blank">Sensor Map</a>
              </li>
              <li>
                <a href="#">EDS Viewer</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">DACs <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="drop3">
              <li>
                <a href="http://gliders.ioos.us/">Glider DAC</a>
              </li>
              <li>
                <a href="#">HF Radar DAC</a>
              </li>
              <li>
                <a href="#">ATN DAC</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Regional Associations</a>
          </li>
          <li class="dropdown">
            <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="drop4">
              <li>
                <a href="">Contact Us</a>
              </li>
            </ul>
          </li>
        </ul> <!-- .nav.navbar-nav -->
      </div> <!-- .collapse.navbar-collapse -->
    </div> <!-- .container.fluid -->
  </nav>
</header>
<div id="grid-container" class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <div class="center-block"> -->
        <div class="grid" data-masonry='{"itemSelector": ".grid-item", "columnWidth": ".grid-item.onexone"}'>
          <a class="grid-item twoxone ioos-eds" href="#">
            <div class="tile-wrap">
              <h1>EDS Model Viewer</h1>
            </div>
          </a>
          <a class="grid-item onexone metrics orange" href="http://metrics.ioos.us" target="_blank">
            <div class="tile-wrap">
              <h1>IOOS By The Numbers</h1>
              <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
            </div>
          </a>
          <a class="grid-item onexone glider-dac" href="http://gliders.ioos.us" target="_blank">
            <div class="tile-wrap">
              <h1>Profiling Gliders</h1>
            </div>
          </a>
          <a class="grid-item onexone data-discovery orange" href="http://data.ioos.us" target="_blank">
            <div class="tile-wrap">
              <h1>Data Discovery</h1>
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
          </a>
          <a class="grid-item onexone comt aqua" href="http://comt.ioos.us" target="_blank">
            <div class="tile-wrap">
              <h1>Coastal and Ocean Model Testbed</h1>
              <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
            </div>
          </a>
          <a class="grid-item twoxtwo sensor-map" href="http://axiomdatascience.com/maps/ioos" target="_blank">
            <div class="tile-wrap">
              <h1>Sensor Map</h1>
            </div>
          </a>
          <a class="grid-item onexone demonstrations aqua" href="#">
            <div class="tile-wrap">
              <h1>Demonstrations<br>(coming soon)</h1>
            </div>
          </a>
          <a class="grid-item onexone regional-associations orange" href="#">
            <div class="tile-wrap">
              <h1>Regional Associations<br>(coming soon)</h1>
            </div>
          </a>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>
