<div id="main-container" class="container">
  <div class="row">
    <div class="col-md-12">
      <img alt="IOOS Regions Map" src="images/bigmap.jpg" class="img-responsive center-block">
      <a href="http://oos.soest.hawaii.edu/pacioos/voyager/">
        <div class="point pacioos" title="<p>PacIOOS</p>Pacific Islands" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="http://portal.aoos.org/" target="_blank">
        <div class="point aoos" title="<p>AOOS</p>Alaska" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="http://nvs.nanoos.org/" target="_blank">
        <div class="point nanoos" title="<p>NANOOS</p>Pacific Northwest" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="http://data.cencoos.org/" target="_blank">
        <div class="point cencoos" title="<p>CenCOOS</p>Central and Northern California" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="http://www.sccoos.org/data/overview/" target="_blank">
        <div class="point sccoos" title="<p>SCCOOS</p>Southern California" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="http://data.gcoos.org/" target="_blank">
        <div class="point gcoos" title="<p>GCOOS</p>Gulf Coast" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="http://data.glos.us/portal" target="_blank">
        <div class="point glos" title="<p>GLOS</p>Great Lakes" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="http://neracoos.org/realtime_map" target="_blank">
        <div class="point neracoos" title="<p>NERACOOS</p>Northeast Atlantic" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="http://assets.maracoos.org/" target="_blank">
        <div class="point maracoos" title="<p>MARACOOS</p>Mid-Atlantic" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="http://secoora.org/maps/" target="_blank">
        <div class="point secoora" title="<p>SECOORA</p>Southeast Atlantic" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="http://www.caricoos.org/drupal/" target="_blank">
        <div class="point caricoos" title="<p>CariCOOS</p>Caribbean" data-toggle="tooltip" data-html="true"></div>
      </a>
    </div>
  </div>
</div>