extends ../layout

block body
  body(data-spy="scroll", data-target="#sidenav")
  - var nav = '<div class="sidebar col-md-3" role="complementary"><nav class="nav-list hidden-print hidden-xs hidden-sm affix-top" id="sidenav" data-spy="affix"><ul class="nav sidebar">'
  - var content = '<div class="col-md-9" role="main">'
  - var subCount = 0
  - var page = path

  each project in data[0]
    if project.title.replace(/[ \/\.]*/g, '').toLowerCase() === projectTitle
      - nav += '<li class="active"><a href="#' + data[1].id + '">' + data[1].title + '</a>'
      - nav += '<ul class="nav">'
      each val, index in data[1]
        if index === 'id'
          - content += '<div class="anchor" id="' + val + '"></div>'
        else if index === 'title'
          - content += '<h1 class="page-header">' + val + '</h1>'
        else 
          if val != undefined && index !== 'title_key'
            - var id = index.replace(/[ ]/g, '-').toLowerCase()
            - nav += '<li><a href="#' + id + '">' + index + '</a></li>'
            - content += '<div class="anchor" id="' + id + '"></div><h2>' + index + '</h2>'
            - content += val
          if index === 'Publications'
            - nav += '</ul>'
        - subCount++
    else
      - nav += '<li><a href="/comt/projects/' + project.title.replace(/[^\w]/g, '-').toLowerCase() + '">' + project.title + '</a></li>'
    - nav += '</li>'
    - subCount = 0
  - nav += '</ul></nav></div>'
  - content += '</div>'

  div#main-container.container.comt-projects
    div.row
      | !{nav}
      | !{content}

  script.
    var ds = !{JSON.stringify(datasets)};
    $(ds).each(function (i, v) {
      $('div[data-key="' + v.comt["sub-project"] + '"] ul').append('<li><a href="' + '!{page}' + '/' + v.title.replace(/[^\w]/g, '-').toLowerCase() + '?t=' + $('div[data-key="' + v.comt["sub-project"] + '"] h3').text() + '">' + v.title + '</a></li>');
    });